.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
out/production/resources/public/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js
out/production/resources/templates/equipos.ftl
out/production/resources/templates/layout.ftl
